
/* debug colors 
.row {
	background-color: rgba(255,0,0,0.05);
	box-shadow: inset 0 0 0 1px rgba(255,0,0,0.15);
}
.item, aside, section {
	background-color: rgba(0,255,0,0.05);
	box-shadow: inset 0 0 0 1px rgba(0,255,0,0.15);
}
.grid {
	background-color: rgba(0,0,255,0.05);
	box-shadow: inset 0 0 0 1px rgba(0,255,0,0.15);
}
------------------------------------------ */

:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}

/* universal reset: set everything to zero for consistency */
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* define and set horizontal bands */
.row {
	max-width: 1200px;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.row .row {
	width: auto;
}

/* contain and clear floated elements */
.row:before, .row:after, .clear:before, .clear:after {
	display: table;
	content: "";
	clear: both;
}



/* WP stuff 
------------------------------------------ */

.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/* Color boxes 
------------------------------------------ */

body {
	background: #fff;
	color: #666;
}

a {
	color: #d74b4b;
}

#header {
	background: #6cf;
	background: #475f77;
	color: #dcddd8;
}

#header a {
	color: #fff;
}

#content {
	background: #fff;
}

#comments-wrap {
	background: #f0eee8;
}

#footer {
	background: #dcddd8;
}



/* Header 
------------------------------------------ */

#header {
	line-height: 1.2;
}

#header .row {
	padding: 3em 0;
}

.site-title, .site-description {
	margin: 0;
}

.site-title {
	font-size: 2.5em;
}

.site-description {
	opacity: 0.6;
	font-weight: normal;
	font-size: 1em;
}

@media (max-width: 800px) {

	#header {
		padding-bottom: 0;
		text-align: center;
	}
	
	#header .row {
		width: auto;
	}
	
	#menu {
		padding: 2em 0;
	}
	
}

@media (max-width: 500px) {
	
	#menu {
		padding-bottom: 0;
	}
	
}


@media (min-width: 800px) {
	
	#masthead {
		float: left;
		width: 30%;
	}
	
	#menu {
		float: left;
		width: 70%;
		padding: 1em;
		text-align: right;
	}

}

#menu {
	font-size: 12px;
	text-transform: uppercase;
}


/* Content 
------------------------------------------ */

#content {
}

#content .row {
	padding: 4em 0;
}

/*
@media (min-width: 500px) {
	
	.primary {
		width: 55%;
		float: left;
	}
	
	.secondary {
		overflow: hidden;
		padding-left: 5em;
		font-size: 90%;
		opacity: 0.75;
	}
	
}

@media (min-width: 800px) {
	
	.primary {
		width: 66%;
		float: left;
	}
	
}

@media (max-width: 500px) {
	
	.secondary {
		margin-top: 2em;
	}
	
	#content .secondary {
		border-top: 1px solid #ddd;
		padding-top: 2em;
	}
	
}
*/



@media (min-width: 500px) {
	
	.slat > :first-child {
		width: 60%;
		float: left;
		padding-right: 5em;
	}
	
	.slat.alt > :first-child {
		float: right;
		padding-left: 5em;
		padding-right: 0;
	}
	
	.slat > :last-child {
		overflow: hidden;
		font-size: 90%;
		opacity: 0.75;
	}
	
}

@media (min-width: 800px) {
	
	.slat > :first-child {
		width: 73%;
	}
	
}

@media (max-width: 500px) {
	
	.slat > :last-child {
		margin-top: 2em;
	}
	
	#content .slat > :last-child {
		border-top: 1px solid #ddd;
		padding-top: 2em;
	}
	
}




.post .meta {
	margin: 2em 0;
}

.post .meta p {
	text-transform: uppercase;
	font-size: 80%;
	margin: 0;
}

@media (min-width: 500px) {

	.post .meta p {
		display: inline-block;
	}

	.post .meta p + p {
		margin-left: 0.5em;
		border-left: 1px solid #888;
		padding-left: 0.75em;
	}

}

#content .post + .post {
	margin-top: 2em;
	border-top: 1em solid #ddd;
	padding-top: 2em;
}

.post .title {
	margin-top: 0;
}






/* widgets 
------------------------------------------ */

.widget + .widget {
	margin-top: 2em;
	border-top: 1px solid #ddd;
	padding-top: 2em;
}

.widget_calendar th, .widget_calendar td {
	padding: 0.5em 0;
	text-align: center;
}

.screen-reader-text {
	display: none;
}


/* footer 
------------------------------------------ */

#footer {
	padding: 2em 0;
}




/* WordPress Gallery 
------------------------------------------ */

.gallery {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0.5em;
}

.gallery-item img {
	width: 100%;
	vertical-align: bottom;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

/*--------------------------------------------------------------
12.2 Galleries
.gallery {
	margin-bottom: 1.5em;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-item img {
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {}
--------------------------------------------------------------*/



/* basic menu code 1.0
-------------------------------------------------------------- */
.dropmenu, .dropmenu ul, .menu, .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropmenu li, .menu li {
	margin: 0;
	display: inline-block;
	background: transparent;
	position: relative;
	text-align: left;
	font-weight: bold;
}

.dropmenu li a {
	text-decoration: none;
	display: block;
	padding: 0.75em 1.25em;
	white-space: nowrap;
}

.dropmenu li ul {
	background: #354b5e;
	display: none;
	position: absolute;
	left: 0; top: 100%;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	z-index: 999;
}

.dropmenu li ul li {
	display: block;
	font-weight: normal;
}

.dropmenu li ul li ul {
	left: 100%; top: 0;
}

.dropmenu li:hover {
	background: #ddd;
	background: rgba(0,0,0,0.2);
}

.dropmenu li:hover > ul {
	display: block;
}

@media (min-width:500px) {

	.dropmenu li.menu-item-has-children > a:after {
		content: ' +';
	}

}/* end @media */

@media (max-width:500px) {

	.dropmenu {
		background: #fff;
	}
	
	.dropmenu li {
		background: rgba(0,0,0,0.1);
		overflow: hidden;
	}
	
	.dropmenu li ul {
		background: none;
		margin-bottom: 1em;
		box-shadow: none;
		position: static;
	}
	
	.dropmenu li ul li {
		background: none;
	}
	
	.dropmenu li ul li a {
		padding: 0.25em 1em;
	}
	
	.dropmenu li ul li a:before {
		content: '\2022\00a0';
	}

	.dropmenu li, .dropmenu li ul {
		display: block;
	}
	
}/* end @media */


/* Menu toggles 
------------------------------------------ */

#menu input {
	display: none;
}
	
@media (min-width: 500px) {
	
	#menu label {
		display: none;
	}
	
}

@media (max-width: 500px) {

	#menu label {
		display: block;
		padding: 0.75em 0;
		/* background-color: rgba(0,0,0,0.2); */
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
	
	#menu input:checked ~ label {
		background-color: rgba(0,0,0,0.4);
		color: #fff;
	}
	
	#menu input:checked ~ label:before {
		content: "Close ";
	}
	
	#menu input:not(:checked) ~ .target {
		display: none;
	}
	
	#menu input:checked ~ .target {
		display: block;
		background-color: rgba(0,0,0,0.2);
	}
	
	.dropmenu > li {
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	
}





/* post navigation
-------------------------------------------------------------- */
.postnav {
	margin-top: 4em;
	font-size: 0.75em;
	border-top: 1px solid #ddd;
	padding: 2em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.postnav .page-numbers {
	padding: 0.5em 0.75em;
	border: 1px solid #ddd;
}

.postnav .page-numbers + .page-numbers {
	margin-left: 0.5em;
}

.postnav .current {
	border: 1px solid #ccc;
	background-color: #eee;
}

.postnav .prev, .postnav .next {
	border: none;
	padding: 0.5em 0;
}




/* Comments 
------------------------------------------ */

#comments-wrap {
	padding: 4em 0;
}

.commentlist {
	border-top: 1em solid rgba(0,0,0,0.2);
}

.commentlist, .commentlist .children {
	list-style: none;
	padding: 0;
}

.commentlist .depth-1 {
	border-bottom: 1em solid rgba(0,0,0,0.2);
}

.children li {
	border-top: 1px solid rgba(0,0,0,0.1);
}

.children li section {
}

.comment .row {
	padding: 4em 0;
}

.comment #respond {
	padding: 0 0 2em 0;
}

.comment .secondary {
	opacity: 1;
}

.comment .vcard figure {
	width: 60px;
	margin-right: 1em;
	float: left;
}

.comment .vcard .meta {
	overflow: hidden;
}

.comment .vcard p {
	margin: 0.5em 0;
	line-height: 1;
}

#respond {
	padding: 2em 0;
}

#respond label {
	display: block;
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
}

#reply-title small {
	display: block;
}

#respond input:not([type="submit"]), #respond textarea {
	width: 100%;
}

@media (min-width:500px) {
	
	#reply-title { 
		width: 40%;
		float: left;
	}
	
	#commentform {
		overflow: hidden;
		padding-left: 5em;
	}
	
}

@media (min-width:800px) {
	
	#reply-title { 
		width: 27%;
	}
	
	.comment-form-author, .comment-form-email, .comment-form-url {
		width: 32%;
		float: left;
	}
	
	.comment-form-email, .comment-form-url {
		margin-left: 2%;
	}
	
}


.form-allowed-tags {
	display: none;
}


